{
  "tmuxSession": "jawo",
  "viewMode": "shared",
  "keepViewer": true,
  "mrTitlePattern": "{ticket} {title}",
  "agentOutputStyle": "",
  "postReviewReplies": true,
  "mergeRequestDefaults": {
    "removeSourceBranch": true,
    "squash": true
  },
  "projects": {
    "my-project": {
      "path": "/absolute/path/to/base/repository",
      "baseBranch": "origin/main",
      "deployBranch": "dev",
      "labels": [
        "proj",
        "my-project"
      ]
    }
  }
}
